/* Use the alternative box model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove browsers default margins and paddings */
* {
  margin: 0;
  padding: 0;
}

h1 {
  /* Override Normalize.css margin declaration */
  margin: 0;
}

/* CSS variables */
:root {
  /* Colors */
  --rose-800: #7a284e;
  --rose-050: #fff7fb;

  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;

  --brown-800: #854632;

  --white: #ffffff;

  /* Spacing */
  --spacing-1600: 128px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing--400: 32px;
  --spacing-300: 24px;
  --spacing--200: 16px;
  --spacing--150: 12px;
  --spacing--100: 8px;
}

/* || fonts */

/* Outfit-font */
@font-face {
  font-family: "Outfit-Regular";
  src:
    url("./../assets/fonts/outfit/woff-woff2/Outfit-Regular.woff2")
      format("woff2"),
    url("./../assets/fonts/outfit/woff-woff2/Outfit-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-Semibold";
  src:
    url("./../assets/fonts/outfit/woff-woff2/Outfit-SemiBold.woff2")
      format("woff2"),
    url("./../assets/fonts/outfit/woff-woff2/Outfit-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-Bold";
  src:
    url("./../assets/fonts/outfit/woff-woff2/Outfit-Bold.woff2") format("woff2"),
    url("./../assets/fonts/outfit/woff-woff2/Outfit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*  Young Serif font*/
@font-face {
  font-family: "Young Serif";
  src:
    url("./../assets/fonts/young-serif/woff-woff2/YoungSerif-Regular.woff2")
      format("woff2"),
    url("./../assets/fonts/young-serif/woff-woff2/YoungSerif-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Fonts Classes */
.text-preset-1,
.text-preset-2,
.text-preset-3 {
  line-height: 100%;
  letter-spacing: 0px;
}

.text-preset-1 {
  font-family: "Young Serif", sans-serif;
  font-size: 40px;
}

.text-preset-2 {
  font-family: "Young Serif", sans-serif;
  font-size: 28px;
}

.text-preset-3 {
  font-family: "Outfit-Semibold", sans-serif;
  font-size: 20px;
}

/* ---------------------- */
.text-preset-4,
.text-preset-4-bold {
  line-height: 150%;
  letter-spacing: 0px;
  font-size: 16px;
}

.text-preset-4 {
  font-family: "Outfit-Regular", sans-serif;
}

.text-preset-4-bold {
  font-family: "Outfit-Bold";
}

/* || Article general styling */
article {
  width: 100%;
}

@media screen and (width > 412px) {
  body {
    background-color: var(--stone-100);
  }
  main {
    padding: var(--spacing-1600) var(--spacing-500);
  }
  article {
    max-width: 736px;
    padding: var(--spacing-500);
    margin-inline: auto;
    border-radius: 24px;
    background-color: var(--white);
  }
}

/* || Recipe Photo */
article img {
  width: 100%;
  height: 171px;
  object-fit: cover;
}

@media screen and (width > 412px) {
  article > img {
    height: 300px;
    border-radius: 12px;
    margin-bottom: var(--spacing-500);
  }
}

/* || recipe content */
.content-container {
  padding: var(--spacing-500) var(--spacing--400);

  display: flex;
  flex-direction: column;
  gap: var(--spacing--400);
}

@media screen and (width > 412px) {
  .content-container {
    padding: 0;
  }
}

/* || header */

h1 {
  margin-bottom: var(--spacing-300);
  color: var(--stone-900);
}

.description {
  color: var(--stone-600);
}

/* || preparation time */
[aria-label="preparation time"] {
  background-color: var(--rose-050);
  border-radius: 12px;
  padding: var(--spacing-300);
}

[aria-label="preparation time"] h2 {
  color: var(--rose-800);
  margin-bottom: var(--spacing--200);
}

[aria-label="preparation time"] li {
  /* this margin is for making moving the marker in */
  margin-left: 15px;
  padding-left: calc(var(--spacing-500) - 15px);
  color: var(--stone-600);
}

[aria-label="preparation time"] strong {
  font-family: "Outfit-Bold", sans-serif;
}
[aria-label="preparation time"] ::marker {
  display: inline-block;
  color: var(--rose-800);
}

/* || ingredients & instructions lists*/
.ingredients ul,
.ingredients ol {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--100);
}

/* || ingredients */
.ingredients h2 {
  color: var(--brown-800);
  margin-bottom: var(--spacing-300);
}
.ingredients ul {
  margin-left: 24px;
  color: var(--stone-600);
}
.ingredients li {
  padding-left: var(--spacing--200);
}

::marker {
  color: var(--rose-800);
}

/* || horizontal line */
.horizontal-line {
  border-bottom: 1px solid var(--stone-150);
}

/* || instructions */
.instructions h2 {
  color: var(--brown-800);
  margin-bottom: var(--spacing-300);
}
.instructions ol {
  margin-left: 24px;
  color: var(--stone-600);
}
.instructions li {
  padding-left: var(--spacing--200);
}

.instructions strong {
  font-family: "Outfit-Bold", sans-serif;
}
.instructions ::marker {
  font-weight: 900;
}

/* || Nutrition */
.nutrition h2 {
  color: var(--brown-800);
  margin-bottom: var(--spacing-300);
}

.nutrition caption {
  color: var(--stone-600);
  text-align: left;
  margin-bottom: var(--spacing-300);
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

table tr * {
  text-align: left;
  padding: var(--spacing--150);
}
table tr :first-child {
  padding-left: var(--spacing--400);

  font-family: "Outfit-Regular", sans-serif;
  line-height: 150%;
  letter-spacing: 0px;
  font-size: 16px;

  color: var(--stone-600);
}

table tr:first-child * {
  padding-top: 0;
}

table tr:last-child * {
  padding-bottom: 0;
}

table tr:not(table tr:last-child) {
  border-bottom: 1px solid var(--stone-150);
}

table td {
  font-family: "Outfit-Bold";
  line-height: 150%;
  letter-spacing: 0px;
  font-size: 16px;

  color: var(--brown-800);
}
