/* Use the alternative box model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove browsers default margins and paddings */
* {
  margin: 0;
  padding: 0;
}

h1 {
  /* Override Normalize.css margin declaration */
  margin: 0;
}

/* CSS variables */
:root {
  /* Colors */
  --rose-800: #7a284e;
  --rose-050: #fff7fb;

  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;

  --brown-800: #854632;

  --white: #ffffff;

  /* Spacing */
  --spacing-1600: 128px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing--400: 32px;
  --spacing-300: 24px;
  --spacing--200: 16px;
  --spacing--150: 12px;
  --spacing--100: 8px;
}

/* || fonts */

/* Outfit-font */
@font-face {
  font-family: "Outfit-Regular";
  src:
    url("/assets/fonts/outfit/woff-woff2/Outfit-Regular.woff2") format("woff2"),
    url("/assets/fonts/outfit/woff-woff2/Outfit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-Semibold";
  src:
    url("/assets/fonts/outfit/woff-woff2/Outfit-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/outfit/woff-woff2/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-Bold";
  src:
    url("/assets/fonts/outfit/woff-woff2/Outfit-Bold.woff2") format("woff2"),
    url("/assets/fonts/outfit/woff-woff2/Outfit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*  Young Serif font*/
@font-face {
  font-family: "Young Serif";
  src:
    url("/assets/fonts/young-serif/woff-woff2/YoungSerif-Regular.woff2")
      format("woff2"),
    url("/assets/fonts/young-serif/woff-woff2/YoungSerif-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Fonts Classes */
.text-preset-1,
.text-preset-2,
.text-preset-3 {
  line-height: 100%;
  letter-spacing: 0px;
}

.text-preset-1 {
  font-family: "Young Serif", sans-serif;
  font-size: 40px;
}

.text-preset-2 {
  font-family: "Young Serif", sans-serif;
  font-size: 28px;
}

.text-preset-3 {
  font-family: "Outfit-Semibold", sans-serif;
  font-size: 20px;
}

/* ---------------------- */
.text-preset-4,
.text-preset-4-bold {
  line-height: 150%;
  letter-spacing: 0px;
  font-size: 16px;
}

.text-preset-4 {
  font-family: "Outfit-Regular", sans-serif;
}

.text-preset-4-bold {
  font-family: "Outfit-Bold";
}

/* || Article general styling */
article {
  max-width: 736px;
  padding: 40px;
  margin: 128px auto 0;
}
